@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .prose {
    --tw-prose-body: currentColor;
    --tw-prose-headings: currentColor;
    --tw-prose-links: theme('colors.blue.600');
    --tw-prose-bold: currentColor;
  }
}
